@tailwind base;
@tailwind components;
@tailwind utilities;

/* Puedes añadir estilos globales adicionales aquí debajo si lo necesitas */
body {
   background-color: #F9FAFB; /* Un gris muy claro */
  color: #1F2937;
}

@media print {
  .no-print {
    display: none !important;
  }
}